main {
  min-height: calc(100vh - 29.7rem);
}

footer {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
  vertical-align: middle;
  margin-top: 7.2rem;
}

footer p {
  margin: 0;
  font-weight: 600;
}

@media (max-width: 768px) {
  footer {
    margin-top: 3.2rem;
  }
}