/* HERO - carousel */

@media(min-width: 768px) {
  .sl-d {
    display: block;
    width: 100%;
   aspect-ratio: 11117 /4058;
    max-height: 440px;
    object-fit: cover; 
    object-position: center center;
  }
  .sl-m {
    display: none;
  }
}

@media(max-width: 767px) {
  .sl-m {
    display: block;
    width: 100%;
    margin-top: 128px;

    aspect-ratio: 1574 / 570;
    object-fit: cover;
  }

  .sl-d {
    display: none;
  }
}

.carousel-inner {
  max-width: 1184px;
  margin: 0 auto; 
  background-color: var(--bg-light); 
}

/* CARD PRODUTO */

.cardProduto {
  position: relative;
  background-color: var(--bg-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.containerImgProduto {
  position: relative;
  width: 100%;
}

.cardProduto .imgProduto {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.cardProduto .infoProduto {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardProduto .infoProduto .nomeProduto {
  font-size: 1.8rem;
}

.cardProduto .infoProduto .precoProduto {
  font-size: 1.6rem;
  margin: 0;
}

.precoOriginal {
  text-decoration: line-through;
  color: #999;
  font-size: 1.2rem;
}

@media(max-width: 576px) {

  .cardProduto .imgProduto {
    height: 120px;
  }

  .cardProduto .infoProduto {
    padding: 10px;
  }

  .cardProduto .infoProduto .nomeProduto {
    font-size: 1.4rem;
  }

  .cardProduto .infoProduto .precoProduto {
    margin: 0;
    font-size: 1.4rem;
  }

}

main {
  max-width: 1440px;
  margin: 0 auto !important;
}

/* OFERTAS SEMANA */
.ofertas {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin: 0 12.8rem;
}

.ofertas .title {
  margin: 0;
}


.containerCardapio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2.4rem;
  width: 100%;
}

@media(max-width: 768px) {
  .ofertas {
    margin: 0 6.4rem;
  }
}

@media(max-width: 576px) {
  .ofertas {
    gap: 2.4rem;
    margin: 0 1.6rem;
  }

  .ofertas .title {
    margin: 0;
  }

  .containerCardapio {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }


}